/.idea/workspace.xml
/.idea
/vg-common/target
/vg-domain/target
/vg-framework/target
/vg-mapper/target
/vg-server/target
/vg-service/target
*.iml
#/*.gitignore
/vg-domain/*.iml
/vg-netty/vg-netty-scadaserver/*.iml
/vg-framework/vg-framework.iml
/vg-mapper/vg-mapper.iml
/vg-server/vg-server.iml
/vg-service/vg-service.iml
/vg.iml
logs
/vg-server/src/main/resources/application-druid.yml
/vg-server/src/main/resources/application.yml
/jre1.8.0_172
/vg-server/*.bat
/vg-server/*.exe4j
