<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<title>服务器性能监控</title>
<head th:include="include :: header"></head>
<script type="text/javascript">
    var id = [[${id}]];
    var monitorServer = '[[${monitorServer}]]';
    var aliasName = '[[${aliasName}]]';
    var type = '[[${type}]]';
    var serverPerformanceUrl = '[[${serverPerformanceUrl}]]';
</script>
<script th:src="@{/js/stomp.min.js}" type="text/javascript"></script>
<script th:src="@{/js/sockjs.min.js}" type="text/javascript"></script>
<script type="text/javascript" th:src='@{/js/echarts.min.js}'></script>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <nav th:include="system/monitor/include :: navigation"></nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>性能仪表</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link" id="per_gauge">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" id="gauge" style="height: 300px;">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>CPU</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover no-margins">
                        <thead>
                        <tr>
                            <th>属性</th>
                            <th>值</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>核心数</td>
                            <td id="cpuNum">0个</td>
                        </tr>
                        <tr>
                            <td>用户使用率</td>
                            <td id="cpuUsed">0%</td>
                        </tr>
                        <tr>
                            <td>系统使用率</td>
                            <td id="cpuSysUsed">0%</td>
                        </tr>
                        <tr>
                            <td>当前空闲率</td>
                            <td id="cpuFree">0%</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>内存</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        <a class="close-link"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover no-margins">
                        <thead>
                        <tr>
                            <th>属性</th>
                            <th>内存</th>
                            <th>JVM</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>总内存</td>
                            <td id="memTotal">0GB</td>
                            <td id="jvmTotal">0MB</td>
                        </tr>
                        <tr>
                            <td>已用内存</td>
                            <td id="memUsed">0GB</td>
                            <td id="jvmUsed">0MB</td>
                        </tr>
                        <tr>
                            <td>剩余内存</td>
                            <td id="memFree">0GB</td>
                            <td id="jvmFree">0MB</td>
                        </tr>
                        <tr>
                            <td>使用率</td>
                            <td id="memUsage">0%</td>
                            <td id="jvmUsage">0%</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>服务器信息</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-hover margin bottom">
                                <tbody>
                                <tr>
                                    <td>服务器名称</td>
                                    <td id="sysComputerName">GoldPeak</td>
                                    <td>操作系统</td>
                                    <td id="osName">Linux</td>
                                </tr>
                                <tr>
                                    <td>服务器IP</td>
                                    <td id="sysComputerIp">127.0.0.1</td>
                                    <td>系统架构</td>
                                    <td id="sysOsArch">amd64</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Java虚拟机信息</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-hover margin bottom">
                                <tbody>
                                <tr>
                                    <td>Java名称</td>
                                    <td id="jvmName">Java</td>
                                    <td>Java版本</td>
                                    <td id="jvmVersion">1.8.0</td>
                                </tr>
                                <tr>
                                    <td>启动时间</td>
                                    <td id="jvmStartTime">2018-12-31 00:00:00</td>
                                    <td>运行时长</td>
                                    <td id="jvmRunTime">0天0时0分0秒</td>
                                </tr>
                                <tr>
                                    <td colspan="1">安装路径</td>
                                    <td colspan="3" id="jvmHome"></td>
                                </tr>
                                <tr>
                                    <td colspan="1">项目路径</td>
                                    <td colspan="3" id="sysUserDir"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>磁盘状态</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-hover margin bottom">
                                <thead>
                                <tr>
                                    <th>盘符路径</th>
                                    <th>文件系统</th>
                                    <th>盘符类型</th>
                                    <th>总大小</th>
                                    <th>可用大小</th>
                                    <th>已用大小</th>
                                    <th>已用百分比</th>
                                </tr>
                                </thead>
                                <tbody id="sysFiles">
                                <tr>
                                    <td>C:\</td>
                                    <td>NTFS</td>
                                    <td>local</td>
                                    <td>0GB</td>
                                    <td>0GB</td>
                                    <td>0GB</td>
                                    <td>%</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:include="include :: footer"></div>
<script>
    $(".modal").appendTo("body"), $("[data-toggle=popover]").popover(), $(".collapse-link").click(function () {
        var div_ibox = $(this).closest("div.ibox"),
            e = $(this).find("i"),
            i = div_ibox.find("div.ibox-content");
        i.slideToggle(200),
            e.toggleClass("fa-chevron-up").toggleClass("fa-chevron-down"),
            div_ibox.toggleClass("").toggleClass("border-bottom"),
            setTimeout(function () {
                div_ibox.resize();
            }, 50);
    }), $(".close-link").click(function () {
        var div_ibox = $(this).closest("div.ibox");
        div_ibox.remove()
    });
</script>
<script type="text/javascript" th:src="@{/monitor/serverPerformance.js}"></script>
</html>
